.viztools_vtablebrowser {
    width: 100%;
}

.viztools_vtablebrowser table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    word-break: break-word;
}

.viztools_vtablebrowser table th {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.viztools_vtablebrowser table td {
    border: 1px solid black;
}

.viztools_vtablebrowser table tr {
    background-color: white;
    color: black;
}

.viztools_vtablebrowser table tr:nth-child(2n + 1) {
    background-color: #e6dbdb;
}

.viztools_vtablebrowser table tr:hover {
    background-color: gray;
    color: white;
}

.viztools_vtablebrowser table .mark {
    background-color: red !important;
    color: white !important;
}
